name: Unit Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup build env
        uses: ./.github/actions/setup-build-env
        with:
          build-cache-key: tests
      - name: Unit test
        run: make test-unit
